baseURL: 'https://murfitt.net'
languageCode: en-gb
title: Dan Murfitt
theme: PaperMod

# Pagination configuration (replaces deprecated 'paginate')
pagination:
  pagerSize: 5

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
ignoreErrors: ["error-remote-getjson"]


minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Dan Murfitt
  description: "Software engineering, web development and technology"
  keywords: [Blog, Software, Engineering, Technology, Programming]
  # author: Dan Murfitt
  # images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "2 January, 2006"
  defaultTheme: dark # dark, light
  disableThemeToggle: true

  ShowReadingTime: false
  ShowShareButtons: false
  ShowPostNavLinks: false
  ShowBreadCrumbs: false
  ShowCodeCopyButtons: false
  ShowWordCount: false
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: true
  disableScrollToTop: true
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "favicon.ico"
    favicon16x16: "favicon-16x16.png"
    favicon32x32: "favicon-32x32.png"
    apple_touch_icon: "apple-touch-icon.png"
    # safari_pinned_tab: "<link / abs url>"

  # label:
  #   text: "Home"
  #   icon: /apple-touch-icon.png
  #   iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Dan Murfitt
    subtitle: "Software engineering, web development and technology"
    imageUrl: "dan.jpeg"
    imageWidth: 250
    imageHeight: 250
    imageTitle: Dan Murfitt
    buttons:
      - name: Blog
        url: blog
      - name: About
        url: about
      - name: Contact Me  
        url: contact

  # home-info mode
  # homeInfoParams:
  #   Title: "Hi there \U0001F44B"
  #   Content: Welcome to my blog

  socialIcons:
    - name: twitter
      url: "https://twitter.com/danmurf"
    - name: linkedin
      url: "https://www.linkedin.com/in/danmurfitt/"
    - name: github
      url: "https://github.com/danmurf"

  # Social configuration (replaces deprecated site.Social)
  Social:
    twitter: "danmurf"  # Twitter username without @ symbol

  analytics:
    google:
      SiteVerificationTag: "i_X2zxbHkmFz5EuSN1p37tKal2UF4ZxpA7QN4hZ-CIY"
    analyticsz:
      ID: "ZwSg9rf6GA"
  #   bing:
  #     SiteVerificationTag: "XYZabc"
  #   yandex:
  #     SiteVerificationTag: "XYZabc"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: false # hide on list pages and home
    hiddenInSingle: false # hide on single page

  # editPost:
  #   URL: "https://github.com/danmurf/murfitt.net/tree/master/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: home
      name: Home
      url: /
      weight: 10
    - identifier: blog
      name: Blog
      url: /blog/
      weight: 20
    - identifier: about
      name: About
      url: /about
      weight: 30
    - identifier: contact
      name: Contact Me
      url: /contact
      weight: 40
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: false
markup:
  highlight:
    anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: true
    # noClasses: false
    style: monokai

permalinks:
  blog: '/blog/:title/'

taxonomies:
  tag: tags

privacy:
  disqus:
    disable: false
  instagram:
    disable: false
    simple: true
  x:
    disable: false
    enableDNT: true
    simple: true
  vimeo:
    disable: false
    enableDNT: true
    simple: true
  youtube:
    disable: false
    privacyEnhanced: true
